* {
  margin: 0;
  padding: 0;
}

:root {
  --violet: #a95c9d;
  --purple: #502654;
  --cream: #f8ebdb;
  --black: #1d1b27;
  --white: #efefed;
  --yellow: #dbd834;
}

.example {
  width: 1600px;
  margin: 50px auto;
  border: 5px solid #000;
}

.example img {
  width: 100%;
  height: auto;
  opacity: 0;
}

.left-side-hair,
.top-left-hair,
.mid-hair,
.float-hair,
.top-right-hair,
.base-face,
.left-ear,
.right-ear,
.left-bottom-hair,
.right-bottom-hair,
.right-float-hair {
  /* display: none; */
  opacity: 1;
}

.container {
  width: 1600px;
  height: 900px;
  border: 5px solid #000;
  margin: -960px auto 0;
  position: relative;
}

.hid {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

.wrapper div {
  box-sizing: border-box;
  position: absolute;
}

.line {
  border-style: solid;
  border-color: #000;
  border-radius: 50%;
}

.left-side-hair .hair1 {
  left: 310px;
  width: 100px;
  height: 780px;
}

.left-side-hair .hair1 .line {
  left: 7px;
  top: -162px;
  width: 378px;
  height: 1005px;
  border-width: 5px;
  transform: rotate(6deg);
}

.left-side-hair .hair2 {
  left: 317px;
  top: -162px;
  width: 378px;
  height: 1005px;
  border-width: 5px;
  transform: rotate(6deg);
  border-radius: 50%;
}

.left-side-hair .hair2 .line {
  left: 67px;
  top: 118px;
  width: 378px;
  height: 989px;
  border-width: 5px;
  transform: rotate(2.6deg);
  box-shadow: -135px 0 0 0 var(--violet);
}

.left-side-hair .hair3 {
  left: 380px;
  top: 215px;
  width: 56px;
  height: 209px;
}

.left-side-hair .hair3 .line {
  left: 43px;
  top: -143px;
  width: 195px;
  height: 609px;
  border-width: 3px;
  transform: rotate(-18.3deg);
  background: var(--violet);
}

.left-side-hair .hair4 {
  left: 439px;
  top: 419px;
  width: 86px;
  height: 67px;
  transform: skewX(12deg);
}

.left-side-hair .hair4 .line {
  left: -157px;
  top: 12px;
  width: 305px;
  height: 187px;
  border-width: 3.5px;
  transform: rotate(37.5deg);
  box-shadow: 0 -6px 0 0 var(--violet);
}

.left-side-hair .hair5 {
  top: -50px;
  left: 439px;
  width: 95px;
  height: 488px;
  transform: skewY(47deg);
}

.left-side-hair .hair5 .line {
  left: 66px;
  top: -349px;
  width: 305px;
  height: 976px;
  border-width: 3px;
  transform: rotate(-2.3deg) skewY(-47deg);
  box-shadow: -10px 0 0 0 var(--violet);
}

.left-side-hair .hair6 {
  left: 410px;
  width: 100px;
  height: 333px;
  background: var(--violet);
}

.left-side-hair .hair7 {
  top: 330;
  left: 435px;
  width: 78px;
  height: 89px;
  background: var(--violet);
}

.left-side-hair .hair8 {
  top: 391;
  left: 434px;
  width: 90px;
  height: 54px;
  transform: skew(10deg, 32deg);
  background: var(--violet);
}

.top-left-hair .hair1 {
  left: 446px;
  top: 0px;
  width: 64px;
  height: 160px;
}

.top-left-hair .hair1 .line {
  top: -61px;
  width: 310px;
  height: 522px;
  border-width: 4px;
}

.top-left-hair .hair2 {
  left: 446px;
  top: -61px;
  width: 155px;
  height: 261px;
  border-width: 5px;
  border-radius: 100% 0 0;
}

.top-left-hair .hair2 .line {
  left: -5px;
  top: 74px;
  width: 363px;
  height: 406px;
  border-width: 4px;
  box-shadow: -100px -35px 0 0 var(--violet);
}

.top-left-hair .hair3 {
  top: 44px;
  left: 479px;
  width: 70px;
  height: 154px;
}

.top-left-hair .hair3 .line {
  top: -84px;
  width: 308px;
  height: 406px;
  border-width: 4px;
}

.top-left-hair .hair4 {
  left: 479px;
  top: -40px;
  width: 308px;
  height: 406px;
  border-radius: 50%;
}

.top-left-hair .hair4 .line {
  left: -143px;
  top: -85px;
  width: 1546px;
  height: 1552px;
  border-width: 4px;
  box-shadow: -100px -35px 0 0 var(--violet);
}

.mid-hair .hair1 {
  left: 715px;
  width: 32px;
  height: 198px;
}

.mid-hair .hair1 .line {
  top: -174px;
  width: 358px;
  height: 476px;
  border-width: 4px;
}

.mid-hair .hair2 {
  left: 715px;
  top: -174px;
  width: 179px;
  height: 476px;
  border-radius: 100% 0 0 100%/ 50% 0 0 50%;
}

.mid-hair .hair2 .line {
  left: 26px;
  top: -2px;
  width: 326px;
  height: 598px;
  border-width: 4px;
  border-radius: 50%;
  box-shadow: -50px 0 0 0 var(--violet);
}

.float-hair .hair1 {
  top: 223px;
  left: 485px;
  width: 133px;
  height: 268px;
}

.float-hair .hair1 .line {
  top: -379px;
  width: 367px;
  height: 687px;
  border-width: 3px;
}

.float-hair .hair2 {
  left: 488px;
  top: -156px;
  width: calc(367px / 2);
  height: 687px;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
}

.float-hair .hair2 .line {
  left: -15px;
  top: -283px;
  width: 382px;
  height: 974px;
  border-width: 3px;
  box-shadow: -10px 0 0 0 var(--violet);
}

.top-right-hair .hair1 {
  left: 658px;
  top: -77px;
  width: 345px;
  height: 706px;
  border-radius: 50%;
}

.top-right-hair .hair1 .line {
  left: 102px;
  top: -658px;
  width: 1096px;
  height: 1209px;
  border-width: 4px;
  background: var(--violet);
}

.top-right-hair .hair2 {
  left: 760px;
  top: -735px;
  width: 1096px;
  height: 1209px;
  border-radius: 50%;
}

.top-right-hair .hair2 .line {
  left: -101px;
  top: 658px;
  width: 345px;
  height: 706px;
  border-width: 4px;
}

.top-right-hair .hair3 {
  left: 812px;
  top: -82px;
  width: 363px;
  height: 523px;
  border-radius: 50%;
}

.top-right-hair .hair3 .line {
  left: -167px;
  top: 132px;
  width: 369px;
  height: 523px;
  border-width: 4px;
  box-shadow: 200px -100px 0 0 var(--violet);
}

.top-right-hair .hair4 {
  left: 989px;
  top: 257px;
  width: 174px;
  height: 185px;
}

.top-right-hair .hair4 .line {
  left: -177px;
  top: -339px;
  width: 363px;
  height: 523px;
  border-width: 4px;
}

.top-right-hair .hair5 {
  left: 803px;
  top: -291px;
  width: 418px;
  height: 796px;
  border-radius: 50%;
}

.top-right-hair .hair5 .line {
  left: -40px;
  top: 32px;
  width: 409px;
  height: 795px;
  border-width: 4px;
  box-shadow: 100px 0 0 0 var(--violet);
}

.top-right-hair .hair6 {
  left: 1054px;
  width: 170px;
  height: 496px;
}

.top-right-hair .hair6 .line {
  left: -251px;
  top: -291px;
  width: 418px;
  height: 796px;
  border-width: 4px;
}

.top-right-hair .hair7 {
  left: 933px;
  width: 200px;
  height: 89px;
  background: var(--violet);
}

.top-right-hair .hair8 {
  left: 1130px;
  width: 50px;
  height: 235px;
  background: var(--violet);
}

.base-face .face1 {
  left: 164px;
  top: -187px;
  width: 885px;
  height: 893px;
  border-radius: 50%;
}

.base-face .face1 .line {
  left: 220px;
  top: 48px;
  width: 700px;
  height: 885px;
  border-width: 5px;
  background: var(--cream);
}

.base-face .face2 {
  left: 384px;
  top: -139px;
  width: 700px;
  height: 885px;
  border-radius: 50%;
  border-width: 5px;
}

.base-face .face2 .line {
  left: -220px;
  top: -48px;
  width: 885px;
  height: 893px;
  border-width: 5px;
}

.left-ear .ear1 {
  left: 306px;
  top: 89px;
  width: 87px;
  height: 296px;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  border-width: 4px 0 4px 4px;
  background: var(--cream);
}

.left-ear .ear2 {
  left: 360px;
  top: 266px;
  width: 50px;
  height: 91px;
  border-radius: 0 0 0 100%;
  border-width: 0px 0 0px 4px;
}

.right-ear {
  left: 794px;
  top: 271px;
  width: 248px;
  height: 286px;
  border-width: 4px;
  border-radius: 50%;
  background: var(--cream);
}

.left-bottom-hair {
  left: 325px;
  top: -133px;
  width: 248px;
  height: 610px;
  border-width: 4px;
  border-radius: 50%;
  background: var(--violet);
}

.right-bottom-hair .hair1 {
  left: 804px;
  top: 488px;
  width: 276px;
  height: 142px;
  transform: rotate(-32.9deg);
}

.right-bottom-hair .hair1 .line {
  left: -618px;
  top: -932px;
  width: 1058px;
  height: 1093px;
  border-width: 4px;
  border-radius: 50%;
  transform: rotate(32.9deg);
  box-shadow: 100px 0 0 0 var(--purple);
}

.right-bottom-hair .hair2 {
  left: 874px;
  top: 634px;
  width: 188px;
  height: 91px;
  transform: rotate(-32.9deg);
}

.right-bottom-hair .hair2 .line {
  left: -346px;
  top: 5px;
  width: 711px;
  height: 665px;
  border-width: 4px;
  border-radius: 50%;
  transform: rotate(32.9deg);
  box-shadow: 0 -100px 0 0 var(--purple);
}

.right-bottom-hair .hair3 {
  left: 559px;
  top: 267px;
  width: 749px;
  height: 1947px;
  border-radius: 50%;
}

.right-bottom-hair .hair3 .line {
  left: -12px;
  top: -138px;
  width: 726px;
  height: 2475px;
  border-width: 4px;
  box-shadow: 50px 0 0 0 var(--purple);
}

.right-bottom-hair .hair4 {
  left: 1153px;
  top: 439;
  width: 132px;
  height: 461px;
}

.right-bottom-hair .hair4 .line {
  right: -23px;
  top: -172px;
  width: 749px;
  height: 1947px;
  border-width: 4px;
}

.right-bottom-hair .hair5 {
  left: 1369px;
  top: 658px;
  width: 94px;
  height: 242px;
}

.right-bottom-hair .hair5 .line {
  right: -53px;
  top: -340px;
  width: 1208px;
  height: 1964px;
  border-width: 4px;
  background: var(--purple);
}

.right-bottom-hair .hair6 {
  left: 1402px;
  top: 655px;
  width: 198px;
  height: 245px;
}

.right-bottom-hair .hair6 .line {
  right: -183px;
  top: -467px;
  width: 2875px;
  height: 2880px;
  border-width: 4px;
  box-shadow: inset -25px 0 0 0 var(--purple);
}

.right-bottom-hair .hair7 {
  top: 0;
  left: 1156px;
  width: 250px;
  height: 659px;
}

.right-bottom-hair .hair7 .line {
  left: -107px;
  top: -1727px;
  width: 2875px;
  height: 2880px;
  border-width: 4px;
  box-shadow: -11px 21px 0 0 var(--purple);
}

.right-bottom-hair .hair8 {
  left: 1381;
  top: 686px;
  width: 219px;
  height: 214px;
}

.right-bottom-hair .hair8 .line {
  right: -96px;
  top: -228px;
  width: 1663px;
  height: 2114px;
  border-width: 4px;
  box-shadow: 25px 0 0 0 var(--purple);
}

.right-bottom-hair .hair9 {
  left: calc(1203px - 50px);
  top: 0px;
  width: calc(397px + 50px);
  height: 614px;
}

.right-bottom-hair .hair9 .line {
  left: calc(-27px + 50px);
  top: -1344px;
  width: 1540px;
  height: 2364px;
  border-width: 4px;
  border-radius: 50%;
  box-shadow: -60px 0 0 0 var(--purple);
}

.right-float-hair .hair1 {
  left: 146px;
  top: 3px;
  width: 991px;
  height: 870px;
  border-radius: 50%;
}

.right-float-hair .hair1 .line {
  left: -730px;
  top: -735px;
  width: 1760px;
  height: 1760px;
  border-width: 4px;
  box-shadow: 0 100px 0 0 var(--purple);
}

.right-float-hair .hair2 {
  left: 848px;
  top: 412px;
  width: 291px;
  height: 422px;
}

.right-float-hair .hair2 .line {
  left: -702px;
  top: -409px;
  width: 991px;
  height: 870px;
  border-width: 4px;
}

.black-clothes .clothes1 {
  left: 941px;
  top: 735px;
  width: 353px;
  height: 390px;
  transform: rotate(49.7deg);
  background: var(--black);
}

.black-clothes .clothes1.top-line {
  background: transparent;
  border-top: 4px solid #000;
}

.black-clothes .clothes2 {
  left: 947px;
  top: 686px;
  width: 227px;
  height: 247px;
  transform: rotate(-9.5deg);
  background: var(--black);
}

.black-clothes .clothes2.top-line {
  background: transparent;
  border-top: 4px solid #000;
}

.black-clothes .clothes3 {
  left: 871px;
  top: 722px;
  width: 129px;
  height: 246px;
  transform: rotate(-30.6deg);
  background: var(--black);
}

.black-clothes .clothes3.top-line {
  background: transparent;
  border-top: 4px solid #000;
}

.black-clothes .clothes4 {
  left: 778px;
  top: 792px;
  width: 176px;
  height: 247px;
  transform: rotate(-54.1deg);
  background: var(--black);
}

.black-clothes .clothes4.top-line {
  background: transparent;
  border-top: 4px solid #000;
}

.white-clothes .clothes1 {
  left: 866px;
  top: 714px;
  width: 66px;
  height: 48px;
  transform: rotate(-10.6deg);
  background: var(--white);
}

.white-clothes .clothes1.top-line {
  background: transparent;
  border-top: 3px solid #000;
}

.white-clothes .clothes2 {
  left: 790px;
  top: 740px;
  width: 90px;
  height: 48px;
  transform: rotate(-29.6deg);
  background: var(--white);
}

.white-clothes .clothes2.top-line {
  background: transparent;
  border-top: 3px solid #000;
}

.white-clothes .clothes3 {
  left: 712px;
  top: 812px;
  width: 152px;
  height: 77px;
  transform: rotate(-65.6deg);
  background: var(--white);
}

.white-clothes .clothes3.top-line {
  background: transparent;
  border-top: 3px solid #000;
}

.yellow-clothes .clothes1 {
  left: 615px;
  top: 858px;
  width: 152px;
  height: 77px;
  transform: rotate(-72.6deg);
  background: var(--yellow);
}

.yellow-clothes .clothes1.top-line {
  background: transparent;
  border-top: 3px solid #000;
}

.yellow-clothes .clothes2 {
  left: 686px;
  top: 762px;
  width: 132px;
  height: 77px;
  transform: rotate(-39.6deg);
  background: var(--yellow);
}

.yellow-clothes .clothes2.top-line {
  background: transparent;
  border-top: 3px solid #000;
}

.yellow-clothes .clothes3 {
  left: 784px;
  top: 722px;
  width: 86px;
  height: 77px;
  transform: rotate(-8.6deg);
  background: var(--yellow);
}

.yellow-clothes .clothes3.top-line {
  background: transparent;
  border-top: 3px solid #000;
}

.yellow-clothes .clothes4 {
  left: 867px;
  top: 712px;
  width: 12px;
  height: 21px;
  transform: rotate(-31deg);
  background: var(--yellow);
}

.yellow-clothes .clothes4.top-line {
  background: transparent;
  border-top: 3px solid #000;
}

.yellow-clothes .clothes5 {
  left: 867px;
  top: 712px;
  width: 12px;
  height: 21px;
  transform: rotate(31deg);
  background: var(--yellow);
}

.yellow-clothes .clothes5.top-line {
  background: transparent;
  border-top: 3px solid #000;
}

.neck1 {
  left: 390px;
  top: 375px;
  width: 57px;
  height: 418px;
}

.neck1 .line {
  left: 6px;
  top: -731px;
  width: 558px;
  height: 1464px;
  border-width: 3px;
  background: var(--cream);
}

.neck2 {
  left: 437px;
  top: 746px;
  width: 10px;
  height: 90px;
  border-radius: 50%;
  border-width: 0 3px 0 0;
  transform: rotate(2deg);
}

.neck3 {
  left: 417px;
  top: 747px;
  width: 74px;
  height: 71px;
  border-radius: 50%;
}

.neck3 .line {
  left: -48px;
  top: -26px;
  width: 74px;
  height: 71px;
  border-width: 3px;
  box-shadow: 27px 20px 0 0 var(--cream);
}

.neck4 {
  left: 273px;
  top: 726px;
  width: 150px;
  height: 151px;
  border-radius: 50%;
}

.neck4 .line {
  left: -44px;
  top: 34px;
  width: 843px;
  height: 320px;
  border-width: 3px;
  background: var(--cream);
}

.neck5 {
  left: 113px;
  top: 784px;
  width: 182px;
  height: 174px;
  border-radius: 50%;
}

.neck5 .line {
  left: -591px;
  top: -278px;
  width: 856px;
  height: 416px;
  border-width: 3px;
  box-shadow: 33px 44px 0 0 var(--cream);
}

/* background: rgba(255, 0, 0, 0.6); */
