* {
  margin: 0;
  padding: 0;
}

:root {
  --violet: #a95c9d;
  --violet2: #9f5494;
  --violet3: #853f7b;
  --purple: #512655;
  --purple2: #56295a;
  --purple3: #4b244f;
  --purple-shadow: #7a3c80;
  --cream: #f8ebdb;
  --cream-shadow: #c88687;
  --black: #1d1b27;
  --white: #efefed;
  --white2: #fdfdf9;
  --white3: #faf8f9;
  --yellow: #dbd834;
  --blue: #142549;
  --blue2: #2a457e;
  --blue3: #42609a;
  --grey: #bab7d4;
}

html {
  min-width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.notice {
  text-align: center;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
}

.notice p {
  background: #ddd;
  width: auto;
  display: inline-block;
  padding: 10px;
  opacity: 0.7;
  transition: 0.1s opacity ease-in-out;
  margin: 0 54px;
}

.notice p:hover {
  opacity: 1;
}

@media screen and (min-width: 1610px) and (min-height: 910px) {
  .notice {
    display: none;
  }
}

.source-code {
  position: fixed;
  top: 0;
  right: 0;
  width: 73px;
  height: 55px;
  background: var(--violet);
  z-index: 999;
  display: block;
  opacity: 0.5;
  transition: 0.1s opacity ease-in-out;
  text-decoration: none;
}

.source-code span {
  display: none;
}

@media screen and (max-width: 720px) {
  .source-code {
    transform: scale(0.7);
    opacity: 0.8;
    top: -8px;
    right: -11px;
  }
}

.source-code:hover {
  opacity: 1;
}

.source-code div {
  position: absolute;
}

.source-code .sc1 {
  top: 12px;
  left: 15px;
  height: 15px;
  width: 7px;
  background: var(--purple);
  transform: skewX(-35deg);
}

.source-code .sc2 {
  top: 27px;
  left: 15px;
  height: 15px;
  width: 7px;
  background: var(--purple);
  transform: skewX(35deg);
}

.source-code .sc3 {
  top: 8px;
  left: 33px;
  height: 38px;
  width: 6px;
  background: var(--purple);
  transform: skewX(-15deg);
}

.source-code .sc4 {
  top: 12px;
  left: 51px;
  height: 15px;
  width: 7px;
  background: var(--purple);
  transform: skewX(35deg);
}

.source-code .sc5 {
  top: 27px;
  left: 51px;
  height: 15px;
  width: 7px;
  background: var(--purple);
  transform: skewX(-35deg);
}

.container {
  width: 1600px;
  height: 900px;
  border: 5px solid #000;
  position: relative;
  background: #cacaca;
}

.hid {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

.wrapper div {
  box-sizing: border-box;
  position: absolute;
  display: block;
}

.line {
  border-style: solid;
  border-color: #000;
  border-radius: 50%;
}

.left-side-hair .hair1 {
  left: 310px;
  width: 100px;
  height: 780px;
}

.left-side-hair .hair1 .line {
  left: 7px;
  top: -162px;
  width: 378px;
  height: 1005px;
  border-width: 5px;
  transform: rotate(6deg);
}

.left-side-hair .hair2 {
  left: 317px;
  top: -162px;
  width: 378px;
  height: 1005px;
  border-width: 5px;
  transform: rotate(6deg);
  border-radius: 50%;
}

.left-side-hair .hair2 .line {
  left: 67px;
  top: 118px;
  width: 378px;
  height: 989px;
  border-width: 5px;
  transform: rotate(2.6deg);
  box-shadow: -135px 0 0 0 var(--violet);
}

.left-side-hair .hair2-shadow {
  left: 317px;
  top: -162px;
  width: 378px;
  height: 1005px;
  border-width: 5px;
  transform: rotate(6deg);
  border-radius: 50%;
}

.left-side-hair .hair2-shadow .line {
  left: 67px;
  top: 118px;
  width: 378px;
  height: 989px;
  border-width: 5px;
  transform: rotate(2.6deg);
  box-shadow: -17px -101px 0 0 var(--purple-shadow);
}

.left-side-hair .hair3 {
  left: 380px;
  top: 215px;
  width: 56px;
  height: 209px;
}

.left-side-hair .hair3 .line {
  left: 43px;
  top: -143px;
  width: 195px;
  height: 609px;
  border-width: 3px;
  transform: rotate(-18.3deg);
  background: var(--violet);
}

.left-side-hair .hair4 {
  left: 439px;
  top: 419px;
  width: 86px;
  height: 67px;
  transform: skewX(12deg);
}

.left-side-hair .hair4 .line {
  left: -157px;
  top: 12px;
  width: 305px;
  height: 187px;
  border-width: 3px;
  transform: rotate(37.5deg);
  box-shadow: 0 -6px 0 0 var(--violet);
}

.left-side-hair .hair5 {
  top: -50px;
  left: 439px;
  width: 95px;
  height: 488px;
  transform: skewY(47deg);
}

.left-side-hair .hair5 .line {
  left: 66px;
  top: -349px;
  width: 305px;
  height: 976px;
  border-width: 3px;
  transform: rotate(-2.3deg) skewY(-47deg);
  box-shadow: -10px 0 0 0 var(--violet);
}

.left-side-hair .hair6 {
  left: 410px;
  width: 100px;
  height: 333px;
  background: var(--violet);
}

.left-side-hair .hair7 {
  top: 330;
  left: 435px;
  width: 78px;
  height: 89px;
  background: var(--violet);
}

.left-side-hair .hair8 {
  top: 391;
  left: 434px;
  width: 90px;
  height: 54px;
  transform: skew(10deg, 32deg);
  background: var(--violet);
}

.left-side-hair .hair9 {
  left: 394px;
  top: 135px;
  width: 100px;
  height: 99px;
  background: var(--violet);
}

.top-left-hair .hair1 {
  left: 446px;
  top: 0px;
  width: 64px;
  height: 160px;
}

.top-left-hair .hair1 .line {
  top: -61px;
  width: 310px;
  height: 522px;
  border-width: 4px;
}

.top-left-hair .hair2 {
  left: 446px;
  top: -61px;
  width: 155px;
  height: 261px;
  border-width: 5px;
  border-radius: 100% 0 0;
}

.top-left-hair .hair2 .line {
  left: -5px;
  top: 74px;
  width: 363px;
  height: 406px;
  border-width: 4px;
  box-shadow: -100px -35px 0 0 var(--violet);
}

.top-left-hair .hair3 {
  top: 44px;
  left: 479px;
  width: 70px;
  height: 154px;
}

.top-left-hair .hair3 .line {
  top: -84px;
  width: 308px;
  height: 406px;
  border-width: 4px;
}

.top-left-hair .hair4 {
  left: 479px;
  top: -40px;
  width: 308px;
  height: 406px;
  border-radius: 50%;
}

.top-left-hair .hair4 .line {
  left: -143px;
  top: -85px;
  width: 1546px;
  height: 1552px;
  border-width: 4px;
  box-shadow: -100px -35px 0 0 var(--violet);
}

.top-left-hair .hair4-shadow {
  left: 479px;
  top: -40px;
  width: 308px;
  height: 406px;
  border-radius: 50%;
}

.top-left-hair .hair4-shadow .shadow {
  left: -143px;
  top: -85px;
  width: 1546px;
  height: 1552px;
  border-radius: 50%;
  box-shadow: 114px -194px 0 0 var(--purple-shadow);
}

.top-left-hair .hair-shadow {
  left: 596px;
  top: -33px;
  width: 68px;
  height: 35px;
  background: var(--violet);
  transform: rotate(-40.5deg) skewX(-62.2deg);
}
.mid-hair .hair1 {
  left: 715px;
  width: 32px;
  height: 198px;
}

.mid-hair .hair1 .line {
  top: -174px;
  width: 358px;
  height: 476px;
  border-width: 4px;
}

.mid-hair .hair2 {
  left: 715px;
  top: -174px;
  width: 179px;
  height: 476px;
  border-radius: 100% 0 0 100%/ 50% 0 0 50%;
}

.mid-hair .hair2 .line {
  left: 26px;
  top: -2px;
  width: 326px;
  height: 598px;
  border-width: 4px;
  border-radius: 50%;
  box-shadow: -50px 0 0 0 var(--violet);
}

.float-hair .hair1 {
  top: 223px;
  left: 485px;
  width: 133px;
  height: 275px;
}

.float-hair .hair1 .line {
  top: -379px;
  width: 367px;
  height: 687px;
  border-width: 3px;
}

.float-hair .hair2 {
  left: 488px;
  top: -156px;
  width: 183px;
  height: 687px;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
}

.float-hair .hair2 .line {
  left: -15px;
  top: -283px;
  width: 382px;
  height: 974px;
  border-width: 3px;
  box-shadow: -10px 0 0 0 var(--violet);
}

.float-hair .hair3 {
  left: 590px;
  top: 498px;
  width: 18px;
  height: 14px;
  background: var(--cream);
}

.top-right-hair .hair1 {
  left: 658px;
  top: -77px;
  width: 345px;
  height: 706px;
  border-radius: 50%;
}

.top-right-hair .hair1 .line {
  left: 102px;
  top: -658px;
  width: 1096px;
  height: 1209px;
  border-width: 4px;
  background: var(--violet2);
}

.top-right-hair .hair1 .line .shadow {
  left: -12px;
  top: 675px;
  width: 196px;
  height: 622px;
  border-radius: 50%;
  transform: rotate(-25.2deg);
  background: var(--purple-shadow);
}

.top-right-hair .hair2 {
  left: 760px;
  top: -735px;
  width: 1096px;
  height: 1209px;
  border-radius: 50%;
}

.top-right-hair .hair2 .line {
  left: -101px;
  top: 658px;
  width: 345px;
  height: 706px;
  border-width: 4px;
}

.top-right-hair .hair3 {
  left: 812px;
  top: -82px;
  width: 363px;
  height: 523px;
  border-radius: 50%;
}

.top-right-hair .hair3 .line {
  left: -167px;
  top: 132px;
  width: 369px;
  height: 523px;
  border-width: 4px;
  box-shadow: 27px -10px 0 0 var(--purple-shadow);
}

.top-right-hair .hair4 {
  left: 989px;
  top: 126px;
  width: 174px;
  height: 316px;
}

.top-right-hair .hair4 .line {
  left: -177px;
  top: -208px;
  width: 363px;
  height: 523px;
  border-width: 4px;
  box-shadow: inset -87px 41px 0 0 var(--violet2);
}

.top-right-hair .hair5 {
  left: 803px;
  top: -291px;
  width: 418px;
  height: 796px;
  border-radius: 50%;
}

.top-right-hair .hair5 .line {
  left: -40px;
  top: 32px;
  width: 409px;
  height: 795px;
  border-width: 4px;
  box-shadow: 100px 0 0 0 var(--violet2);
}

.top-right-hair .hair6 {
  left: 1054px;
  width: 170px;
  height: 496px;
}

.top-right-hair .hair6 .line {
  left: -251px;
  top: -291px;
  width: 418px;
  height: 796px;
  border-width: 4px;
}

.top-right-hair .hair7 {
  left: 933px;
  width: 200px;
  height: 89px;
  background: var(--violet2);
}

.top-right-hair .hair8 {
  left: 1130px;
  width: 50px;
  height: 235px;
  background: var(--violet2);
}

.top-right-hair .hair9 {
  left: 824px;
  top: -81px;
  width: 16px;
  height: 305px;
  transform: rotate(-30.3deg);
  background: var(--violet2);
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
}

.top-right-hair .hair10 {
  left: 813px;
  top: -116px;
  width: 28px;
  height: 305px;
  transform: rotate(-30.3deg) skewY(-80deg);
  background: var(--violet2);
}

.top-right-hair .hair11 {
  left: 1020px;
  top: 75px;
  width: 112px;
  height: 260px;
  background: var(--violet2);
}

.top-right-hair .hair12 {
  left: 1020px;
  top: 316px;
  width: 68px;
  height: 62px;
  background: var(--violet2);
}

.top-right-hair .hair13 {
  left: 976px;
  top: 75px;
  width: 49px;
  height: 108px;
  background: var(--violet2);
}

.top-right-hair .shadow1 {
  left: 1020px;
  top: 193px;
  width: 64px;
  height: 225px;
}

.top-right-hair .shadow1 .shadow {
  left: -243px;
  top: -252px;
  width: 297px;
  height: 516px;
  border-radius: 50%;
  box-shadow: 1px 35px 0 0 var(--purple-shadow);
}

.top-right-hair .shadow2 {
  left: 832px;
  top: 97px;
  width: 385px;
  height: 101px;
}

.top-right-hair .shadow2 .shadow {
  left: -97px;
  top: -181px;
  width: 482px;
  height: 266px;
  border-radius: 50%;
  transform: rotate(2.3deg) skewX(21deg);
  box-shadow: 16px 10px 0 0 rgba(255, 255, 255, 0.4);
}

.base-face .face1 {
  left: 164px;
  top: -187px;
  width: 885px;
  height: 893px;
  border-radius: 50%;
}

.base-face .face1 .line {
  left: 220px;
  top: 48px;
  width: 700px;
  height: 885px;
  border-width: 5px;
  background: var(--cream);
}

.base-face .face1 .line .shadow1 {
  left: 38px;
  top: 386px;
  width: 176px;
  height: 436px;
  border-radius: 50%;
  transform: rotate(-19deg);
  box-shadow: -20px -28px 0 0 var(--cream-shadow);
}

.base-face .face1 .line .shadow2 {
  left: 3px;
  top: 604px;
  width: 155px;
  height: 33px;
  border-radius: 50%;
  transform: rotate(35deg);
  background: var(--cream);
}

.base-face .face1 .line .shadow3 {
  left: 3px;
  top: 451px;
  width: 107px;
  height: 177px;
  border-radius: 0 0 0 100%;
  background: var(--cream-shadow);
}

.base-face .face1 .line .shadow4 {
  left: 116px;
  top: 526px;
  width: 78px;
  height: 177px;
  border-radius: 0 0 0 100%;
  box-shadow: -36px -39px 0 0 var(--cream-shadow);
}

.base-face .face2 {
  left: 384px;
  top: -139px;
  width: 700px;
  height: 885px;
  border-radius: 50%;
  border-width: 5px;
}

.base-face .face2 .line {
  left: -220px;
  top: -48px;
  width: 885px;
  height: 893px;
  border-width: 5px;
}

.base-face .face2 .line .shadow {
  left: 689px;
  top: 413px;
  width: 176px;
  height: 263px;
  border-radius: 50%;
}

.base-face .face2 .line .shadow .s-shadow {
  left: -66px;
  top: 72px;
  width: 176px;
  height: 263px;
  border-radius: 50%;
  box-shadow: 60px 32px 0 0 var(--cream-shadow);
}

.base-face .face3 {
  left: 477px;
  top: 345px;
  width: 78px;
  height: 50px;
  background: var(--cream);
}

.base-face .face4 {
  left: 595px;
  top: 318px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--white2);
}

.base-face .face5 {
  left: 911px;
  top: 467px;
  width: 14px;
  height: 12px;
  border-radius: 33% 38% 31% 69% / 23% 22% 71% 73%;
  background: var(--white2);
}

.base-face .shadow1 {
  left: 474px;
  top: 0px;
  width: 267px;
  height: 214px;
}

.base-face .shadow1 .shadow {
  left: 103px;
  top: -178px;
  width: 324px;
  height: 779px;
  transform: rotate(54deg);
  border-radius: 50%;
  box-shadow: -46px -13px 0 0 var(--cream-shadow);
}

.base-face .shadow2 {
  left: 720px;
  top: 0px;
  width: 307px;
  height: 406px;
}

.base-face .shadow2 .shadow {
  left: 66px;
  top: -226px;
  width: 324px;
  height: 658px;
  transform: rotate(-31.4deg);
  border-radius: 50%;
  background: var(--cream-shadow);
}

.base-face .shadow3 {
  left: 710px;
  top: -200px;
  width: 324px;
  height: 530px;
  border-radius: 50%;
}

.base-face .shadow3 .shadow {
  left: 27px;
  top: 73px;
  width: 273px;
  height: 530px;
  border-radius: 50%;
  box-shadow: -46px 0 0 0 var(--cream-shadow);
}

.left-ear .ear1 {
  left: 306px;
  top: 89px;
  width: 87px;
  height: 296px;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  border-width: 4px 0 4px 4px;
  background: var(--cream-shadow);
}

.left-ear .ear1 .shadow {
  left: -4px;
  top: 40px;
  width: 84px;
  height: 147px;
  border-radius: 50%;
  box-shadow: 0 -35px 0 0 var(--cream);
}

.left-ear .ear2 {
  left: 360px;
  top: 266px;
  width: 50px;
  height: 91px;
  border-radius: 0 0 0 100%;
  border-width: 0px 0 0px 4px;
}

.right-ear {
  left: 794px;
  top: 271px;
  width: 248px;
  height: 286px;
  border-width: 4px;
  border-radius: 50%;
  background: var(--cream-shadow);
}

.left-bottom-hair {
  left: 325px;
  top: -133px;
  width: 248px;
  height: 610px;
  border-width: 4px;
  border-radius: 50%;
  background: var(--purple-shadow);
}

.left-bottom-hair .shadow {
  left: -4px;
  top: 104px;
  width: 209px;
  height: 325px;
  border-radius: 50%;
  box-shadow: -20px -20px 0 0 var(--violet);
}

.right-bottom-hair .hair1 {
  left: 804px;
  top: 488px;
  width: 276px;
  height: 142px;
  transform: rotate(-32.9deg);
}

.right-bottom-hair .hair1 .line {
  left: -618px;
  top: -932px;
  width: 1058px;
  height: 1093px;
  border-width: 4px;
  border-radius: 50%;
  transform: rotate(32.9deg);
  box-shadow: 100px 0 0 0 var(--purple);
}

.right-bottom-hair .hair2 {
  left: 874px;
  top: 634px;
  width: 188px;
  height: 91px;
  transform: rotate(-32.9deg);
}

.right-bottom-hair .hair2 .line {
  left: -346px;
  top: 5px;
  width: 711px;
  height: 665px;
  border-width: 4px;
  border-radius: 50%;
  transform: rotate(32.9deg);
  box-shadow: 0 -100px 0 0 var(--purple);
}

.right-bottom-hair .hair3 {
  left: 559px;
  top: 267px;
  width: 749px;
  height: 1947px;
  border-radius: 50%;
}

.right-bottom-hair .hair3 .line {
  left: -12px;
  top: -138px;
  width: 726px;
  height: 2475px;
  border-width: 4px;
  box-shadow: 50px 0 0 0 var(--purple3);
}

.right-bottom-hair .hair4 {
  left: 1153px;
  top: 439;
  width: 132px;
  height: 461px;
}

.right-bottom-hair .hair4 .line {
  right: -23px;
  top: -172px;
  width: 749px;
  height: 1947px;
  border-width: 4px;
}

.right-bottom-hair .hair5 {
  left: 1369px;
  top: 658px;
  width: 94px;
  height: 242px;
}

.right-bottom-hair .hair5 .line {
  right: -53px;
  top: -340px;
  width: 1208px;
  height: 1964px;
  border-width: 4px;
  background: var(--violet3);
}

.right-bottom-hair .hair6 {
  left: 1402px;
  top: 655px;
  width: 198px;
  height: 245px;
}

.right-bottom-hair .hair6 .line {
  right: -183px;
  top: -467px;
  width: 2875px;
  height: 2880px;
  border-width: 4px;
  box-shadow: inset -25px 0 0 0 var(--violet3);
}

.right-bottom-hair .hair7 {
  top: 0;
  left: 1156px;
  width: 250px;
  height: 659px;
}

.right-bottom-hair .hair7 .line {
  left: -107px;
  top: -1727px;
  width: 2875px;
  height: 2880px;
  border-width: 4px;
  box-shadow: -3px 21px 0 0 var(--violet3);
}

.right-bottom-hair .hair8 {
  left: 1381;
  top: 686px;
  width: 219px;
  height: 214px;
}

.right-bottom-hair .hair8 .line {
  right: -96px;
  top: -228px;
  width: 1663px;
  height: 2114px;
  border-width: 4px;
  box-shadow: 25px 0 0 0 var(--violet3);
}

.right-bottom-hair .hair9 {
  left: 1153px;
  top: 0px;
  width: 447px;
  height: 614px;
}

.right-bottom-hair .hair9 .line {
  left: 23px;
  top: -1344px;
  width: 1540px;
  height: 2364px;
  border-width: 4px;
  border-radius: 50%;
  box-shadow: -111px -148px 0 0 var(--purple);
}

.right-bottom-hair .hair10 {
  left: 1026px;
  top: 410px;
  width: 93px;
  height: 131px;
  background: var(--purple);
}

.right-bottom-hair .hair11 {
  left: 1042px;
  top: 595px;
  width: 304px;
  height: 278px;
  background: var(--violet3);
}

.right-bottom-hair .hair12 {
  left: 1321px;
  top: 619px;
  width: 49px;
  height: 300px;
  background: var(--violet3);
}

.right-bottom-hair .hair13 {
  left: 1164px;
  top: 278px;
  width: 109px;
  height: 440px;
  background: var(--violet3);
  transform: rotate(-30deg);
}

.right-bottom-hair .hair14 {
  left: 1376px;
  top: 634px;
  width: 33px;
  height: 75px;
  background: var(--violet3);
  transform: rotate(-36deg);
}

.right-bottom-hair .hair15 {
  left: 848px;
  top: 229px;
  width: 491px;
  height: 671px;
  border-radius: 0 100% 0 0;
  background: var(--purple);
}

.right-bottom-hair .hair16 {
  left: 384px;
  top: 306px;
  width: 1040px;
  height: 1423px;
  border-radius: 50%;
}

.right-bottom-hair .hair16 .color {
  left: 104px;
  top: 126px;
  width: 982px;
  height: 1342px;
  border-radius: 50%;
  box-shadow: 141px -10px 0 0 var(--purple);
}

.right-bottom-hair .hair17 {
  left: 1122px;
  top: 314px;
  width: 138px;
  height: 192px;
}

.right-bottom-hair .hair17 .color {
  left: -27px;
  top: -1045px;
  width: 1040px;
  height: 1423px;
  border-radius: 50%;
  box-shadow: -49px 0 0 0 var(--purple);
}

.right-bottom-hair .hair18 {
  left: 1224px;
  top: 59px;
  width: 177px;
  height: 550px;
  border-radius: 50%;
  transform: rotate(-34.6deg);
}

.right-bottom-hair .hair18 .shadow {
  left: 122px;
  top: -956px;
  width: 1540px;
  height: 2364px;
  border-radius: 50%;
  transform: rotate(34.6deg);
  box-shadow: -59px 0 0 0 var(--violet3);
}

.right-float-hair .hair1 {
  left: 146px;
  top: 3px;
  width: 991px;
  height: 870px;
  border-radius: 50%;
}

.right-float-hair .hair1 .line {
  left: -730px;
  top: -735px;
  width: 1760px;
  height: 1760px;
  border-width: 4px;
  box-shadow: 0 100px 0 0 var(--purple3);
}

.right-float-hair .hair2 {
  left: 848px;
  top: 412px;
  width: 291px;
  height: 422px;
}

.right-float-hair .hair2 .line {
  left: -702px;
  top: -409px;
  width: 991px;
  height: 870px;
  border-width: 4px;
}

.black-clothes .clothes1 {
  left: 941px;
  top: 735px;
  width: 353px;
  height: 390px;
  transform: rotate(49.7deg);
  background: var(--black);
}

.black-clothes .clothes1.top-line {
  background: transparent;
  border-top: 4px solid #000;
}

.black-clothes .clothes2 {
  left: 947px;
  top: 686px;
  width: 227px;
  height: 247px;
  transform: rotate(-9.5deg);
  background: var(--black);
}

.black-clothes .clothes2.top-line {
  background: transparent;
  border-top: 4px solid #000;
}

.black-clothes .clothes3 {
  left: 871px;
  top: 722px;
  width: 129px;
  height: 246px;
  transform: rotate(-30.6deg);
  background: var(--black);
}

.black-clothes .clothes3.top-line {
  background: transparent;
  border-top: 4px solid #000;
}

.black-clothes .clothes4 {
  left: 778px;
  top: 792px;
  width: 176px;
  height: 247px;
  transform: rotate(-54.1deg);
  background: var(--black);
}

.black-clothes .clothes4.top-line {
  background: transparent;
  border-top: 4px solid #000;
}

.white-clothes .clothes1 {
  left: 866px;
  top: 714px;
  width: 66px;
  height: 48px;
  transform: rotate(-10.6deg);
  background: var(--white);
}

.white-clothes .clothes1.top-line {
  background: transparent;
  border-top: 3px solid #000;
}

.white-clothes .clothes2 {
  left: 790px;
  top: 740px;
  width: 90px;
  height: 48px;
  transform: rotate(-29.6deg);
  background: var(--white);
}

.white-clothes .clothes2.top-line {
  background: transparent;
  border-top: 3px solid #000;
}

.white-clothes .clothes3 {
  left: 712px;
  top: 812px;
  width: 152px;
  height: 77px;
  transform: rotate(-65.6deg);
  background: var(--white);
}

.white-clothes .clothes3.top-line {
  background: transparent;
  border-top: 3px solid #000;
}

.yellow-clothes .clothes1 {
  left: 615px;
  top: 858px;
  width: 152px;
  height: 77px;
  transform: rotate(-72.6deg);
  background: var(--yellow);
}

.yellow-clothes .clothes1.top-line {
  background: transparent;
  border-top: 3px solid #000;
}

.yellow-clothes .clothes2 {
  left: 686px;
  top: 762px;
  width: 132px;
  height: 77px;
  transform: rotate(-39.6deg);
  background: var(--yellow);
}

.yellow-clothes .clothes2.top-line {
  background: transparent;
  border-top: 3px solid #000;
}

.yellow-clothes .clothes3 {
  left: 784px;
  top: 722px;
  width: 86px;
  height: 77px;
  transform: rotate(-8.6deg);
  background: var(--yellow);
}

.yellow-clothes .clothes3.top-line {
  background: transparent;
  border-top: 3px solid #000;
}

.yellow-clothes .clothes4 {
  left: 867px;
  top: 712px;
  width: 12px;
  height: 21px;
  transform: rotate(-31deg);
  background: var(--yellow);
}

.yellow-clothes .clothes4.top-line {
  background: transparent;
  border-top: 3px solid #000;
}

.yellow-clothes .clothes5 {
  left: 867px;
  top: 712px;
  width: 12px;
  height: 21px;
  transform: rotate(31deg);
  background: var(--yellow);
}

.yellow-clothes .clothes5.top-line {
  background: transparent;
  border-top: 3px solid #000;
}

.neck .neck1 {
  left: 390px;
  top: 375px;
  width: 61px;
  height: 418px;
}

.neck .neck1 .line {
  left: 6px;
  top: -731px;
  width: 558px;
  height: 1464px;
  border-width: 0px;
  background: var(--cream);
}

.neck .neck2 {
  left: 437px;
  top: 746px;
  width: 10px;
  height: 90px;
  border-radius: 50%;
  border-width: 0 3px 0 0;
  transform: rotate(2deg);
}

.neck .neck3 {
  left: 417px;
  top: 747px;
  width: 74px;
  height: 71px;
  border-radius: 50%;
}

.neck .neck3 .line {
  left: -48px;
  top: -26px;
  width: 74px;
  height: 71px;
  border-width: 3px;
  box-shadow: 27px 20px 0 0 var(--cream);
}

.neck .neck4 {
  left: 273px;
  top: 726px;
  width: 150px;
  height: 151px;
  border-radius: 50%;
}

.neck .neck4 .line {
  left: -44px;
  top: 34px;
  width: 843px;
  height: 320px;
  border-width: 3px;
  background: var(--cream);
}

.neck .neck5 {
  left: 113px;
  top: 784px;
  width: 182px;
  height: 174px;
  border-radius: 50%;
}

.neck .neck5 .line {
  left: -591px;
  top: -278px;
  width: 856px;
  height: 416px;
  border-width: 3px;
  box-shadow: 33px 44px 0 0 var(--cream);
}

.neck .neck6 {
  left: 788px;
  top: 422px;
  width: 28px;
  height: 358px;
  transform: rotate(29.8deg);
  border-width: 0 3px 0 0;
  background: var(--cream-shadow);
}

.neck .neck7 {
  left: 749px;
  top: 662px;
  width: 63px;
  height: 80px;
  border-width: 3px;
  border-top-color: transparent;
  border-right-color: transparent;
  box-shadow: -10px 10px 0 0 var(--cream-shadow);
}

.neck .neck8 {
  left: 645px;
  top: 870px;
  width: 30px;
  height: 48px;
  transform: rotate(34.5deg);
  background: var(--white);
  border-left: 3px solid #000;
}

.neck .neck9 {
  left: 573px;
  top: 807px;
  width: 135px;
  height: 93px;
  border-radius: 50%;
}

.neck .neck9 .line {
  left: -299px;
  top: -286px;
  width: 465px;
  height: 360px;
  border-width: 3px;
  box-shadow: 50px 0 0 0 var(--cream);
}

.neck .neck10 {
  left: 515px;
  top: 853px;
  width: 71px;
  height: 64px;
  border-radius: 50%;
}

.neck .neck10 .line {
  left: 24px;
  top: 15px;
  width: 99px;
  height: 114px;
  border-width: 3px;
  background: var(--cream);
}

.neck .neck11 {
  left: 445px;
  top: 500px;
  width: 304px;
  height: 415px;
  background: var(--cream);
}

.neck .neck12 {
  left: 275px;
  top: 822px;
  width: 211px;
  height: 217px;
  background: var(--cream);
  transform: rotate(-20deg);
}

.neck .neck13 {
  left: 737px;
  top: 738px;
  width: 21px;
  height: 30px;
  background: var(--cream-shadow);
}

.neck .neck14 {
  left: 274px;
  top: 885px;
  width: 109px;
  height: 6px;
  border-radius: 50%;
  border-bottom: 2px solid #000;
}

.neck .neck15 {
  left: 406px;
  top: 876px;
  width: 8px;
  height: 60px;
  border-right: 2px solid #000;
  border-radius: 50%;
  background: var(--cream);
  transform: rotate(-47deg);
}

.neck .neck16 {
  left: 490px;
  top: 865px;
  width: 8px;
  height: 60px;
  border-left: 2px solid #000;
  border-radius: 50%;
  transform: rotate(-24deg);
}

.neck .neck17 {
  left: 390px;
  top: 375px;
  width: 57px;
  height: 418px;
}

.neck .neck17 .line {
  left: 6px;
  top: -731px;
  width: 558px;
  height: 1464px;
  border-width: 3px;
}

.neck .neck18 {
  left: 572px;
  top: 860px;
  width: 135px;
  height: 145px;
  background: var(--cream);
  transform: skewY(-12deg);
}

.neck .shadow1 {
  left: 240px;
  top: 854px;
  border-left: 63px solid transparent;
  border-bottom: 38px solid var(--cream-shadow);
  transform: skewX(-23deg);
  border-radius: 0px;
}

.neck .shadow2 {
  left: 515px;
  top: 889px;
  width: 20px;
  height: 27px;
  background: var(--cream-shadow);
  transform: rotate(-49.3deg);
  border-radius: 5px;
}

.neck .shadow3 {
  left: 395px;
  top: 890px;
  width: 50px;
  height: 29px;
  background: var(--cream-shadow);
  transform: rotate(-28.6deg) skewX(-46deg);
  border-radius: 7px;
}

.neck .shadow4 {
  left: 239px;
  top: 854px;
  width: 65px;
  height: 40px;
  transform: skewX(-23deg);
  border-bottom: 2px solid var(--cream-shadow);
  border-right: 2px solid var(--cream-shadow);
  border-radius: 3px;
}

.neck .shadow5 {
  left: 396px;
  top: -356px;
  width: 558px;
  height: 1464px;
  border-radius: 50%;
}

.neck .shadow5 .s-shadow1 {
  left: -646px;
  top: 78px;
  width: 1117px;
  height: 1228px;
  border-radius: 50%;
}

.neck .shadow5 .s-shadow1 .ss-shadow {
  left: 212px;
  top: -191px;
  width: 1117px;
  height: 1228px;
  border-radius: 50%;
}

.neck .shadow5 .s-shadow1 .ss-shadow .sss-shadow {
  left: 410px;
  top: 135px;
  width: 1117px;
  height: 1228px;
  border-radius: 50%;
  background: var(--cream-shadow);
}

.neck .shadow5 .s-shadow2 {
  left: -18px;
  top: 92px;
  width: 1117px;
  height: 1228px;
  border-radius: 50%;
}

.neck .shadow5 .s-shadow2 .ss-shadow {
  left: 33px;
  top: 459px;
  width: 1117px;
  height: 1228px;
  border-radius: 50%;
  box-shadow: -120px 0 0 0 var(--cream-shadow);
}

.neck .shadow6 {
  left: 613px;
  top: 500px;
  width: 135px;
  height: 415px;
  background: var(--cream-shadow);
}

.neck .shadow7 {
  left: 622px;
  top: 500px;
  width: 127px;
  height: 415px;
  background: var(--cream-shadow);
  transform: skewX(-22deg);
}

.small-clothes1 {
  left: 173px;
  top: 862px;
  width: 151px;
  height: 104px;
  transform: rotate(-8.2deg);
  border-width: 0 0 0 5px;
  box-shadow: -60px 5px 0 0 var(--white);
}

.small-clothes2 {
  left: 230px;
  top: 853px;
  width: 32px;
  height: 55px;
  transform: rotate(14.5deg);
  background: var(--white);
}

.small-clothes2.top-line {
  background: transparent;
  border-top: 3px solid #000;
}

.small-clothes3 {
  left: 87px;
  top: 874px;
  width: 163px;
  height: 55px;
  transform: rotate(-18.2deg);
  background: var(--white);
}

.small-clothes3.top-line {
  background: transparent;
  border-top: 3px solid #000;
}

.small-clothes5 {
  left: -29px;
  top: 883px;
  width: 237px;
  height: 103px;
  border-width: 3px;
  transform: rotate(-10.1deg);
  background: var(--black);
}

.bg-hair {
  left: 734px;
  top: 500px;
  width: 300px;
  height: 300px;
  background: var(--purple);
}

.right-eye-brow .eye-brow1 {
  left: 817px;
  top: 247px;
  width: 298px;
  height: 95px;
  border-radius: 50%;
}

.right-eye-brow .eye-brow1 .line1 {
  left: -32px;
  top: 13px;
  width: 171px;
  height: 95px;
  border-radius: 50%;
  border-top: 2px solid #000;
  box-shadow: 0 -10px 0 0 var(--purple-shadow);
}

.right-eye-brow .eye-brow1 .line2 {
  left: 164px;
  top: 8px;
  width: 46px;
  height: 31px;
  border-radius: 50%;
  border-top: 2px solid #000;
  box-shadow: 0 -10px 0 0 var(--purple-shadow);
}

.right-eye-brow .c-eye-brow2 {
  left: 817px;
  top: 247px;
  width: 298px;
  height: 95px;
  border-width: 2px;
  border-radius: 50%;
}

.right-eye-brow .eye-brow2 {
  left: 859px;
  top: 220px;
  width: 151px;
  height: 41px;
}

.right-eye-brow .eye-brow2 .line {
  left: -42px;
  top: 27px;
  width: 298px;
  height: 95px;
  border-width: 2px;
}

.left-eye-brow .eye-brow1 {
  left: -161px;
  top: -17px;
  width: 988px;
  height: 989px;
  border-radius: 50%;
}

.left-eye-brow .eye-brow1 .e-eye-brow1 {
  left: 881px;
  top: 188px;
  width: 37px;
  height: 52px;
}

.left-eye-brow .eye-brow1 .e-eye-brow1 .line {
  left: -293px;
  top: -17px;
  width: 379px;
  height: 402px;
  border-width: 2px;
  box-shadow: 0 -20px 0 0 var(--purple-shadow);
}

.left-eye-brow .eye-brow1 .e-eye-brow2 {
  left: 755px;
  top: 75px;
  width: 127px;
  height: 131px;
}

.left-eye-brow .eye-brow1 .e-eye-brow2 .line {
  left: -772px;
  top: -82px;
  width: 988px;
  height: 989px;
  border-width: 2px;
  box-shadow: 0 -20px 0 0 var(--purple-shadow);
}

.left-eye-brow .eye-brow2 {
  left: 600px;
  top: 54px;
  width: 152px;
  height: 158px;
}

.left-eye-brow .eye-brow2 .line {
  left: -761px;
  top: -71px;
  width: 988px;
  height: 989px;
  border-width: 2px;
}

.nose .nose1 {
  --ht: 5px;
  left: 695px;
  top: 435px;
  width: 46px;
  height: 59px;
}

.nose .nose1 .color {
  left: -101px;
  top: -79px;
  width: 137px;
  height: 145px;
  border-radius: 50%;
  box-shadow: 20px -8px 0 0 #000;
}

.nose .nose2 {
  left: 726px;
  top: 381px;
  width: 34px;
  height: 73px;
}

.nose .nose2 .color {
  left: 12px;
  top: -28px;
  width: 174px;
  height: 175px;
  border-radius: 50%;
  background: var(--cream);
  box-shadow: -8px 8px 0 0 black;
}

.nose .nose3 {
  left: 725px;
  top: 447px;
  width: 13px;
  height: 26px;
  border-radius: 50%;
  transform: rotate(18deg);
  box-shadow: 8px 0 0 0 var(--cream);
}

.nose .nose4 {
  left: 664px;
  top: 463px;
  width: 19px;
  height: 4px;
  border-radius: 50%;
  transform: rotate(35deg);
  border-top: 2px solid #000;
}

.nose .nose5 {
  left: 677px;
  top: 382px;
  width: 37px;
  height: 65px;
  transform: rotate(20deg);
  background: var(--white2);
  border-radius: 0% 0% 41% 29% / 0% 0% 18% 38%;
}

.nose .nose6 {
  left: 675px;
  top: 398px;
  width: 51px;
  height: 4px;
  transform: rotate(-27.6deg);
  background: var(--white2);
  box-shadow: -2px -2px 0 0 var(--cream);
  border-radius: 29% 50% 0% 0% / 45% 100% 0% 0%;
}

.nose .nose7 {
  left: 664px;
  top: 375px;
  width: 60px;
  height: 24px;
  transform: rotate(-25.7deg);
  background: var(--cream);
}

.mouth .mouth1 {
  left: 597px;
  top: 518px;
  width: 25px;
  height: 15px;
  transform: rotate(3.9deg);
  border-bottom: 1px solid #000;
  border-right: 1px solid transparent;
  border-radius: 0% 0% 31% 43% / 0% 0% 6% 9%;
}

.mouth .mouth2 {
  left: 617px;
  top: 534px;
  width: 25px;
  height: 15px;
  transform: rotate(8.4deg);
  border-radius: 27% 66% 0% 0% / 8% 49% 0% 0%;
  border-top: 1px solid #000;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.mouth .mouth3 {
  left: 638px;
  top: 530px;
  width: 25px;
  height: 15px;
  transform: rotate(30deg);
  border-radius: 0% 0% 68% 51% / 0% 0% 23% 15%;
  border-bottom: 1px solid #000;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.mouth .mouth4 {
  left: 651px;
  top: 549px;
  width: 17px;
  height: 15px;
  transform: rotate(26.4deg);
  border-radius: 29% 70% 100% 100% / 32% 59% 0% 0%;
  border-top: 1px solid #000;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.mouth .mouth5 {
  left: 669px;
  top: 549px;
  width: 18px;
  height: 15px;
  transform: rotate(54.2deg);
  border-radius: 0% 0% 53% 0% / 0% 0% 9% 0%;
  border-bottom: 1px solid #000;
}

.mouth .mouth6 {
  left: 590px;
  top: 548px;
  width: 83px;
  height: 43px;
  border-radius: 50%;
  transform: rotate(26.3deg);
  background: var(--white2);
}

.mouth .mouth7 {
  left: 625px;
  top: 534px;
  width: 40px;
  height: 21px;
  border-radius: 50%;
  transform: rotate(21deg);
  background: var(--cream);
}

.mouth .mouth8 {
  left: 593px;
  top: 546px;
  width: 43px;
  height: 22px;
  border-radius: 50%;
  transform: rotate(19deg);
  background: var(--cream);
}

.mouth .mouth9 {
  left: 629px;
  top: 564px;
  width: 43px;
  height: 22px;
  border-radius: 50%;
  transform: rotate(28.3deg);
  background: var(--cream);
}

.mouth .mouth10 {
  left: 630px;
  top: 553px;
  width: 15px;
  height: 20px;
  transform: rotate(25deg);
}

.mouth .mouth10 .inner {
  left: -7px;
  top: 1px;
  width: 24px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0px 2px 0 0 var(--cream);
}

.mouth .mouth11 {
  left: 618px;
  top: 545px;
  width: 15px;
  height: 4px;
  border-radius: 50%;
  transform: rotate(27.1deg);
  box-shadow: 0px -2px 0 0 var(--cream);
}

.mouth .mouth12 {
  left: 643px;
  top: 557px;
  width: 15px;
  height: 4px;
  border-radius: 50%;
  transform: rotate(22.1deg);
  box-shadow: 0px -2px 0 0 var(--cream);
}

.mouth .mouth13 {
  left: 577px;
  top: 565px;
  width: 92px;
  height: 40px;
  transform: rotate(22deg);
  background: var(--cream);
}

.mouth .mouth14 {
  left: 631px;
  top: 559px;
  width: 7px;
  height: 7px;
  transform: rotate(22deg);
  background: var(--cream);
}

.left-eye .eye1 {
  left: 560px;
  top: 183px;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: var(--blue);
}

.left-eye .eye2 {
  left: 583px;
  top: 212px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 14px 20px var(--blue2);
}

.left-eye .eye3 {
  left: 546px;
  top: 171px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #000;
}

.left-eye .eye4 {
  left: 572px;
  top: 180px;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background: var(--white3);
  border: 2px solid #000;
}

.left-eye .eye5 {
  left: 571px;
  top: 227px;
  width: 57px;
  height: 39px;
  border-radius: 50%;
  transform: rotate(10.3deg);
}

.left-eye .eye5 .inner {
  left: 5px;
  top: -16px;
  width: 43px;
  height: 39px;
  transform: rotate(-10.3deg);
  border-radius: 50%;
  box-shadow: 0 10px 0 12px var(--blue3);
}

.left-eye .eye6 {
  left: 516px;
  top: 157px;
  width: 153px;
  height: 126px;
  border-radius: 50%;
  transform: rotate(34.3deg);
  background: var(--white3);
}

.left-eye .eye6 .inner1 {
  left: 9px;
  top: 21px;
  width: 134px;
  height: 128px;
  border-radius: 50%;
  transform: rotate(-34.3deg);
  box-shadow: 0 -20px 0 0 var(--grey);
}

.left-eye .eye6 .inner2 {
  left: 33px;
  top: 28px;
  width: 134px;
  height: 128px;
  border-radius: 50%;
  transform: rotate(-34.3deg);
  box-shadow: 18px 0 0 0 var(--grey);
}

.left-eye .eye7 {
  left: 514px;
  top: 33px;
  width: 206px;
  height: 272px;
  border-radius: 50%;
}

.left-eye .eye7 .inner {
  left: -47px;
  top: 118px;
  width: 206px;
  height: 161px;
  border-radius: 50%;
}

.left-eye .eye7 .inner .i-inner1 {
  left: 55px;
  top: -4px;
  width: 101px;
  height: 134px;
  border-radius: 50%;
  box-shadow: -24px -4px 0 0 #000;
}

.left-eye .eye7 .inner .i-inner2 {
  left: 36px;
  top: 12px;
  width: 150px;
  height: 134px;
  border-radius: 50%;
  box-shadow: -11px -16px 0 0 #000;
}

.left-eye .eye8 {
  left: 404px;
  top: 142px;
  width: 272px;
  height: 259px;
  border-radius: 50%;
}

.left-eye .eye8 .inner {
  left: 73px;
  top: 0px;
  width: 194px;
  height: 237px;
  border-radius: 50%;
}

.left-eye .eye8 .inner .i-inner {
  left: -5px;
  top: 19px;
  width: 201px;
  height: 251px;
  border-radius: 50%;
  box-shadow: 10px -8px 0 0 #000;
}

.left-eye .eye9 {
  left: 530px;
  top: 168px;
  width: 165px;
  height: 56px;
  border-radius: 50%;
  transform: rotate(42.2deg);
}

.left-eye .eye9 .inner {
  left: -13px;
  top: 5px;
  width: 187px;
  height: 56px;
  border-radius: 50%;
  box-shadow: 0 -7px 0 0 #000;
}

.left-eye .eye10 {
  left: 601px;
  top: 174px;
  width: 72px;
  height: 11px;
  transform: rotate(42.2deg);
  background: var(--cream);
}

.left-eye .eye11 {
  left: 529px;
  top: 255px;
  width: 91px;
  height: 25px;
  border-radius: 50%;
  transform: rotate(27.8deg);
}

.left-eye .eye11 .inner {
  left: -7px;
  top: -2px;
  width: 106px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0 5px 0 0 #000;
}

.left-eye .eye12 {
  left: 529px;
  top: 149px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 10px solid #000;
  transform: rotate(-46deg);
}

.left-eye .eye13 {
  left: 511px;
  top: 179px;
  width: 5px;
  border-top: 1px solid #000;
}

.left-eye .eye14 {
  left: 511px;
  top: 190px;
  width: 6px;
  border-top: 1px solid #000;
}

.left-eye .eye15 {
  left: 513px;
  top: 201px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-right: 7px solid #000;
  transform: rotate(-14deg);
}

.left-eye .eye16 {
  left: 514px;
  top: 225px;
  width: 5px;
  border-top: 1px solid #000;
}

.left-eye .eye17 {
  left: 516px;
  top: 244px;
  width: 9px;
  height: 3px;
  border-radius: 50%;
  border-top: 1px solid #000;
  transform: rotate(-24deg);
}

.left-eye .eye18 {
  left: 633px;
  top: 192px;
  width: 91px;
  height: 25px;
  border-radius: 50%;
  transform: rotate(60deg);
}

.left-eye .eye18 .inner {
  left: -6px;
  top: 2px;
  width: 106px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0 -3px 0 0 #000;
}

.left-eye .eye19 {
  left: 666px;
  top: 201px;
  width: 11px;
  height: 20px;
  background: var(--cream);
  transform: rotate(-32deg);
}

.right-eye .eye1 {
  left: 858px;
  top: 318px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #000;
}

.right-eye .eye2 {
  left: 867px;
  top: 327px;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background: var(--blue);
}

.right-eye .eye3 {
  left: 888px;
  top: 352px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 14px 20px var(--blue2);
}

.right-eye .eye4 {
  left: 872px;
  top: 326px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: var(--white3);
  border: 2px solid #000;
}

.right-eye .eye5 {
  left: 879px;
  top: 369px;
  width: 49px;
  height: 32px;
  border-radius: 50%;
}

.right-eye .eye5 .inner {
  left: 7px;
  top: -7px;
  width: 36px;
  height: 26px;
  border-radius: 50%;
  box-shadow: 0 11px 0 9px var(--blue3);
}

.right-eye .eye6 {
  left: 844px;
  top: 320px;
  width: 141px;
  height: 107px;
  border-radius: 50%;
  transform: rotate(18.2deg);
  background: var(--white3);
}

.right-eye .eye6 .inner1 {
  left: -6px;
  top: 34px;
  width: 87px;
  height: 71px;
  border-radius: 50%;
  transform: rotate(-18.2deg);
  box-shadow: 0 -32px 0 0 var(--grey);
}

.right-eye .eye6 .inner2 {
  left: 48px;
  top: 31px;
  width: 92px;
  height: 89px;
  border-radius: 50%;
  transform: rotate(-18.2deg);
  box-shadow: 23px -38px 0 6px var(--grey);
}

.right-eye .eye7 {
  left: 758px;
  top: 275px;
  width: 239px;
  height: 255px;
  border-radius: 50%;
}

.right-eye .eye7 .inner {
  left: -11px;
  top: -144px;
  width: 299px;
  height: 304px;
  border-radius: 50%;
}

.right-eye .eye7 .inner .i-inner1 {
  left: 39px;
  top: 168px;
  width: 196px;
  height: 144px;
  border-radius: 50%;
  box-shadow: 19px 13px 0 0 #000;
}

.right-eye .eye7 .inner .i-inner2 {
  left: 35px;
  top: 175px;
  width: 196px;
  height: 148px;
  border-radius: 50%;
  box-shadow: 19px 9px 0 0 #000;
}

.right-eye .eye8 {
  left: 836px;
  top: 308px;
  width: 172px;
  height: 126px;
  border-radius: 50%;
}

.right-eye .eye8 .inner {
  left: -69px;
  top: 9px;
  width: 282px;
  height: 196px;
  border-radius: 50%;
}

.right-eye .eye8 .inner .i-inner1 {
  left: 5px;
  top: 5px;
  width: 264px;
  height: 196px;
  border-radius: 50%;
  box-shadow: -17px -12px 0 0 #000;
}

.right-eye .eye8 .inner .i-inner2 {
  left: 37px;
  top: -8px;
  width: 292px;
  height: 250px;
  border-radius: 50%;
  box-shadow: -13px -4px 0 0 #000;
}

.right-eye .eye9 {
  left: 756px;
  top: 316px;
  width: 293px;
  height: 195px;
  border-radius: 50%;
}

.right-eye .eye9 .inner {
  left: -73px;
  top: 4px;
  width: 399px;
  height: 260px;
  border-radius: 50%;
  box-shadow: -20px -11px 0 0 #000;
}

.right-eye .eye10 {
  left: 933px;
  top: 321px;
  width: 32px;
  height: 23px;
  background: var(--grey);
}

.right-eye .eye11 {
  left: 842px;
  top: 387px;
  width: 111px;
  height: 36px;
  border-radius: 50%;
  transform: rotate(25deg);
}

.right-eye .eye11 .inner {
  left: -9px;
  top: -2px;
  width: 137px;
  height: 36px;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 #000;
}

.right-eye .eye12 {
  left: 990px;
  top: 375px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 13px solid #000;
  transform: rotate(-6deg);
}

.right-eye .eye13 {
  left: 986px;
  top: 397px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 13px solid #000;
  transform: rotate(14deg);
}

.right-eye .eye14 {
  left: 975px;
  top: 408px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 13px solid #000;
  transform: rotate(41deg);
}

.right-eye .eye15 {
  left: 960px;
  top: 418px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 14px solid #000;
  transform: rotate(56deg);
}

.right-eye .eye16 {
  left: 851px;
  top: 289px;
  width: 97px;
  height: 40px;
  border-radius: 50%;
  transform: rotate(-7.6deg);
}

.right-eye .eye16 .inner {
  left: -8px;
  top: 2px;
  width: 109px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 -10px 0 0 #000;
}
